.html{
    background-color: #1f3419;
    font-family: sans-serif;
}
.body{
    text-align: center;
    margin: 0;
}

.name{
    padding-top: 400px;
    font-size: 100;
    font-weight: bolder;
    color: white;

}
.name p{
    margin: 10;
    padding: 0;
    font-weight: default;

}
.photo_block{
    padding-top: 200px;
    margin: 400px auto;
}
.photo_block p{
    padding-top: 400px;
    font-size: 85;
    font-weight: bolder;
    color: white;
    line-height: 100px;
}
.photo_block h2{
    padding-top: 500px;
    font-size: 65;
    font-weight: bolder;
    color: white;
    line-height: 100px;
}
.photo_block h3{
    font-size: 60;
    font-weight: bolder;
    color: white;
    line-height: 20px;
}
.photo{
    margin: 120px auto;
    width: 400px;
    min-height: 650px;
    background: url(photos/mainphoto1.jpg);
    box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.63);
    border-radius: 85px;
    background-repeat: no-repeat;
}
.skills{
    padding-top: 450px;
}
.skills p{
    font-size: 70;
    font-weight: bolder;
    color: white;
    line-height: 200px;
}
.skill1{
    margin:  auto;
    max-width: 1000px;
    border-radius: 5px;
    border: 1px solid;
    border-color: red;
    text-align: left;

}
.skill1 p{
    font-size: 50;
    line-height: 150px;
}
.linux{
    min-width: 50px;
}